@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Account.LoginForm
@{
    ViewBag.Id = "LoginForm";
    ViewBag.Width = 300;
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title">Вход</h2>

@using (Html.BeginForm("LogIn", "Account"))
{
    @Html.HiddenFor(m => m.RedirectUrl, new Dictionary<string, object>{{"id", "RedirectAfterLogin"}})
    <div class="form-field-wrapper">
        @Html.TextBoxFor(m => m.Login, new {placeholder = "Логин"})
        @Html.ValidationMessageFor(m => m.Login, null, new Dictionary<string, object>{{"style", "display:block;"}})
    </div>
    <div class="form-field-wrapper">
        @Html.PasswordFor(m => m.Password, new {placeholder = "Пароль"})
        @Html.ActionLink("Забыли пароль?", "RestorePassword", "Account", null, new Dictionary<string, object>{{"id", "RestorePasswordLink"}})
        @Html.ValidationMessageFor(m => m.Password, null, new Dictionary<string, object>{{"style", "display:block;"}})
    </div>
    <div class="form-field-wrapper">
        <label>
            @Html.CheckBoxFor(m => m.DoNotRemember)
            Чужой компьютер
        </label>
    </div>
    <div class="form-controls-wrapper">
        @Html.Submit("Войти", new Dictionary<string, object>{{"class", "form-submit-button"}})
        <a href="javascript:void(0)" class="lightbox-close">Отменить</a>
    </div>
}