@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Account.RegistrationForm

@{
    ViewBag.Id = "Registration";
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title">Регистрация</h2>

@using (Html.BeginForm("Register", "Account"))
{
    @Html.HiddenFor(m => m.RedirectUrl)
    <div class="form-field-wrapper">
        @Html.LabelFor(m => m.Login, "Логин:", new Dictionary<string, object>{{"class", "form-field-label"}})
        @Html.TextBoxFor(m => m.Login)
        @Html.ValidationMessageFor(m => m.Login, null, new Dictionary<string, object>{{"class", "field-validation-error-next-line"}})
    </div>
    <div class="form-field-wrapper">
        @Html.LabelFor(m => m.Email, "E-mail:", new Dictionary<string, object>{{"class", "form-field-label"}})
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, null, new Dictionary<string, object>{{"class", "field-validation-error-next-line"}})
    </div>
    <div class="form-controls-wrapper">
        @Html.Submit("Зарегистрироваться", new Dictionary<string, object>{{"class", "form-submit-button"}})
        <a href="javascript:void(0)" class="lightbox-close">Отменить</a>
    </div>
}