@using DM.Web.Classic.Extensions.IconFontExtensions
@using DM.Web.Classic.Extensions.PluralExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Account.UserActionsViewModel
<div class="logo-text">
    Добро пожаловать,
    <a href="@Url.Action("Index", "Profile", new RouteValueDictionary{{"login", null}})">@IconFont.Render(IconType.UserSettings) @Model.UserName</a>
</div>
<a class="logo" href="@Url.Action("Index", "Home")">
    <img src="@Url.Content("~/images/logo.gif")" alt="Dungeonmaster.ru" title="Dungeonmaster.ru" />
</a>
<a href="@Url.Action("List", "Conversations", new RouteValueDictionary{{"entityNumber", 1}})" class="@(Model.UnreadDialoguesCount > 0 ? "logo-new-messages" : string.Empty)">
    @Html.UnreadMessagesIcon(Model.UnreadDialoguesCount)
    @if (Model.UnreadDialoguesCount == 0)
    {
        @:Сообщения
    }
    else
    {
        @Html.Plural(Model.UnreadDialoguesCount, "новое сообщение", "новых сообщения", "новых сообщений")
    }
</a>
|
<a href="@Url.Action("LogOut", "Account")">@IconFont.Render(IconType.Logout2) Выйти</a>