@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@{
    ViewBag.Id = "__SmartTextAreaTutorial__";
    ViewBag.Width = 700;
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
}

<h2 class="lightbox-title">Как форматировать текст на DungeonMaster</h2>

<div class="smartTextArea-help-text">
    <p>На нашем сайте практически любые тексты можно форматировать тем или иным способом &ndash; чтобы их было проще читать, чтобы на них было приятнее смотреть, а то и для того, чтобы скрыть что-нибудь.</p>
    <p>Когда вам встречается вот такое текстовое поле
        <div class="smartTextArea-help-image-wrapper">
            <img src="@Url.Content("~/images/smart_text_area.png")" alt="" class="smartTextArea-help-image" />
        </div>
    это значит, что текст внутри него можно форматировать при помощи BB-кодов.</p>
    <p>Чтобы это сделать, выделите участок текста и нажмите на одну из кнопок в верхней части текстового поля, либо соответствующую комбинацию горячих клавиш.</p>

    <dl class="smartTextArea-help-list">
        <dt class="smartTextArea-help-list-term"><strong>b</strong>, <em>i</em>, <span style="text-decoration: underline;">u</span> и <<span style="text-decoration: line-through;">>s</span></dt>
        <dd class="smartTextArea-help-list-description">&ndash; эти теги используются для простейшего форматирования текста и делают текст, обернутый в них, <strong>[b]жирным[/b] (Ctrl+B)</strong>, <em>[i]курсивным[/i] (Ctrl+I)</em>, <<span style="text-decoration: underline;">>[u]подчеркнутым[/u] (Ctrl+U)</span> и <<span style="text-decoration: line-through;">>[s]зачеркнутым[/s] (Ctrl+S)</span> соответственно.</dd>
        <dt class="smartTextArea-help-list-term">@IconFont.Render(IconType.Code)</dt>
        <dd class="smartTextArea-help-list-description">&ndash; текст, обернутый в тег <strong>[code]</strong>, будет моноширинным.</dd>
        <dt class="smartTextArea-help-list-term">@IconFont.Render(IconType.Spoiler)</dt>
        <dd class="smartTextArea-help-list-description">&ndash; текст, обернутый в тег <strong>[spoiler] (Ctrl+H)</strong>, будет скрыт от пользователей, пока те не нажмут "Показать текст".</dd>
        <dt class="smartTextArea-help-list-term">@IconFont.Render(IconType.UnorderedList)</dt>
        <dd class="smartTextArea-help-list-description">&ndash; текст, обернутый в тег <strong>[list]</strong>, будет отрисован как список. Любой перенос строки внутри тега будет считаться началом нового элемента списка.</dd>
        <dt class="smartTextArea-help-list-term">@IconFont.Render(IconType.Quote)</dt>
        <dd class="smartTextArea-help-list-description">&ndash; текст, обернутый в тег <strong>[quote] (Ctrl+Q)</strong>, будет отображен, будто это чья-та цитата. Чтобы указать авторство, можно написать <strong>[quote="Имя автора"]Цитата[/quote]</strong>.</dd>
        <dt class="smartTextArea-help-list-term">@IconFont.Render(IconType.Image)</dt>
        <dd class="smartTextArea-help-list-description">&ndash; чтобы вставить изображение, нужно воспользоваться тегом <strong>[img="ссылка на изображение"] (Ctrl+P)</strong>. Этот тег не нужно закрывать, но смотрите, чтобы в нем не оказалось лишнего кода.</dd>
        <dt class="smartTextArea-help-list-term">@IconFont.Render(IconType.Link)</dt>
        <dd class="smartTextArea-help-list-description">&ndash; если вы хотите оставить ссылку на сторонний ресурс, вам стоит воспользоваться тегом <strong>[link] (Ctrl+L)</strong>. Любой текст, обернутый в него окажется ссылкой, а чтобы указать адрес, по которому можно будет перейти, щелкнув на ссылку, напишите так: <strong>[link="http://yandex.ru"]Яндекс[/link]</strong></dd>
    </dl>

    <p>Никому не нравится писать BB-коды, поэтому у нас также работает система горячих сочетаний клавиш.</p>
</div>

<div class="form-controls-wrapper">
    @Html.Button("Я все понял, спасибо!", new Dictionary<string, object>{{"class", "form-submit-button lightbox-close"}})
</div>