@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@model DM.Web.Classic.Views.Account.Activation.UpdatePasswordForm
@{
    ViewBag.Title = "Установка нового пароля";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/LeftBar/GeneralLeftColumn")
}

@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new Dictionary<string, object>{{"id", "UpdatePasswordForm"}}))
{
    <h1 class="content-pageTitle">Восстановление пароля</h1>
    @:Введите ваш новый пароль, @Model.User.Login, и постарайтесь его хорошенько запомнить @IconFont.Render(IconType.Smile)
    @Html.HiddenFor(m => m.Token)

    <div class="form-field-wrapper">
        @Html.PasswordFor(m => m.AlteredPassword, new {placeholder = "Новый пароль"})
        @Html.ValidationMessageFor(m => m.AlteredPassword)
    </div>
    @Html.Submit("Установить пароль")
}

@section FooterScript
{
    <script>
        var form = new DM.FormControl("#UpdatePasswordForm");
        form.on("requestSuccess", function() {
            document.location.href = "@Url.Action("Index", "Home")";
        });
        DM.Ready();
    </script>
}
