@using DM.Web.Classic.Extensions.IconFontExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Shared.GameList.GameListViewModel
<h2 class="content-mediumTitle toggle-list-link" data-status="@Model.Status">@ViewBag.BlockTitle</h2>
<ul class="leftMenu-list">
    @foreach (var game in Model.GamesLink)
    {
        @await Html.PartialAsync("GameList/GameLink/GameLink", game)
    }
    <li class="leftMenu-list-item">
        <a class="modulesList-allLink" href="@Url.Action("Index", "GamesList", new RouteValueDictionary {{"status", Model.Status}})">
            @ViewBag.AllModulesLink @IconFont.Render(IconType.DoubleRightAngle)
        </a>
    </li>
</ul>