@using DM.Services.Mail.Rendering.Rendering
@model DM.Services.Community.BusinessProcesses.Account.PasswordReset.Confirmation.PasswordResetConfirmationViewModel
@{
    Layout = EmailConstants.Layout;
    ViewData["Title"] = $"Подтверждение сброса пароля на DM";
}
<p style="@EmailConstants.ParagraphStyles">Вы начали процедуру сброса пароля на нашем сайте.</p>
<p style="@EmailConstants.ParagraphStyles">Чтобы обновить пароль, вам нужно перейти по <a href="@Model.ConfirmationLinkUri">ссылке</a>.<br/></p>
<p style="@EmailConstants.ParagraphStyles">Если вы не знаете, почему вам пришло это письмо, просто удалите его и знайте, что мы извиняемся!</p>
<p style="@EmailConstants.ParagraphStyles">Если вы не пытались сбросить свой старый пароль, ни в коем случае не переходите по ссылке, а вместо этого как можно скорее сообщите нам, возможно, у вас хотят увести учетную запись!</p>
<a style="@EmailConstants.ButtonStyles" href="@Model.ConfirmationLinkUri">Обновить пароль</a>
<p style="@EmailConstants.ParagraphStyles font-size: 12px; color: #8a8a8a;">Если не получается, попробуйте вставить ссылку в адресную строку: @Model.ConfirmationLinkUri</p>