@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Conversations.List.ConversationsListViewModel
@{
    ViewBag.Title = "Диалоги";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/GeneralLeftColumn")
}

@if (Model.Conversations.Any())
{
    using (Html.BeginForm("MarkAllAsRead", "Conversations", FormMethod.Post, new Dictionary<string, object>
    {
        {"class", "conversation-markAllButton-form"},
        {"id", "MarkAllAsReadForm"}
    }))
    {
        <a href="javascript:void(0)" id="MarkAllAsReadLink">Отметить все сообщения как прочитанные</a>
    }
}
<h1 class="content-pageTitle">Диалоги</h1>

<div id="Paginator" class="paginator"></div>
<div class="conversations-wrapper" id="Container">
    @await Html.PartialAsync("~/Views/Conversations/List/ConversationsList.cshtml", Model.Conversations)
</div>
<div class="paginator-fixed-wrapper">
    <div id="PaginatorHover" class="paginator-fixed"></div>
</div>

@section FooterScript
{
    <script>
        var conversations = new DM.PagedListControl({
            totalPages: @Model.TotalPagesCount,
            currentPage: @Model.CurrentPage,
            pageSize: @Model.PageSize,
            entityNumber: @Model.EntityNumber,
            pageUrlTemplate: "@Url.Action("List", "Conversations", new RouteValueDictionary {{"entityNumber", "__pn__"}})"
        });
        var markAllAsRead = new DM.FormControl($("#MarkAllAsReadForm"));
        markAllAsRead.on("requestSuccess", function() { document.location.href = document.location.href; });
        $("#MarkAllAsReadLink").on("click.submitForm", function() { markAllAsRead.submit() });
        DM.Ready();
    </script>
}