@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Community.CommunityViewModel
@{
    ViewBag.Title = "Сообщество";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}

@section LeftColumn
{
    @await Html.PartialAsync("Layout/GeneralLeftColumn")
}

<h1 class="content-pageTitle">Сообщество</h1>

<h3 class="content-minorTitle">Поиск по сообществу</h3>
@Html.TextBoxWithPlaceholder(null, "Введите имя пользователя...", new Dictionary<string, object>
            {
                {"id", "SearchAutocomplete"},
                {"class", "community-search-input"},
                {"data-url", Url.Action("SearchUser", "Search")}
            }, new Dictionary<string, object> { {"class", "community-search-input-placeholder" } })

<div class="communityG-34">
    <div class="communityG-row">
        <div class="communityG-col-1 communityG-span-32 communityList-groupTitle">Администраторы</div>
    </div>
</div>
@await Html.PartialAsync("UsersListHeader")
@await Html.PartialAsync("UsersList", Model.Administrators)
<div class="communityG-34">
    <div class="communityG-row">
        <div class="communityG-col-1 communityG-span-32 communityList-groupTitle">Модераторы</div>
    </div>
</div>
@await Html.PartialAsync("UsersListHeader")
@await Html.PartialAsync("UsersList", Model.Moderators)

<div class="communityG-34">
    <div class="communityG-row">
        <div class="communityG-col-1 communityG-span-32 communityList-groupTitle">
            Игроки
            @Html.Button("Показать неактивных", new Dictionary<string, object>
            {
                {"id", "CommunityFilterButton"},
                {"data-with-inactive", true.ToString().ToLower()},
                {"data-swaptext", "Скрыть неактивных"},
                {"class", "smallButton"}
            })
        </div>
    </div>
</div>
<div id="Paginator" class="paginator"></div>
<div class="paginator-fixed-wrapper">
    <div id="PaginatorHover" class="paginator-fixed"></div>
</div>
@await Html.PartialAsync("UsersListHeader")
<div id="Container">
    @await Html.PartialAsync("UsersList", Model.Users)
</div>

@section FooterScript
{
    <script>
        var forumControl = new DM.CommunityControl({
            totalPages: @Model.TotalPagesCount,
            currentPage: @Model.CurrentPage,
            pageSize: @Model.PageSize,
            entityNumber: @Model.EntityNumber,
            pageUrlTemplate: "@Url.Action("Index", "Community", new RouteValueDictionary {{"entityNumber", "__pn__"}})",
            profileUrlTemplate: "@Url.Action("Index", "Profile", new RouteValueDictionary {{"login", "__l__"}})"
        });
        DM.Ready();
    </script>
}