@using DM.Web.Classic.Extensions.UserExtensions
@using DM.Web.Core.Extensions.EnumExtensions
@model DM.Web.Classic.Views.CharactersList.Character.CharacterViewModel

<div class="character-avatar-wrapper">
    <img src="@(string.IsNullOrEmpty(Model.PictureUrl) ? Url.Content("~/images/avatar_placeholder.jpg") : Model.PictureUrl)" alt="" class="character-avatar" />
    <div class="charactersList-status characterStatus-@(Model.Status.ToString().ToLower())">@Model.Status.GetDescription()</div>
</div>

<div class="character-shortInfo">
    <span class="charactersList-name">@Model.Name</span>

    <div class="charactersList-characterInfoField">
        <div class="charactersList-characterInfoFieldTitle">Автор:</div>
        <div class="charactersList-characterInfoFieldValue">@Html.UserLink(Model.Author)</div>
    </div>
    @if (!string.IsNullOrEmpty(Model.Race))
    {
        <div class="charactersList-characterInfoField">
            <div class="charactersList-characterInfoFieldTitle">Раса:</div>
            <div class="charactersList-characterInfoFieldValue">@Model.Race</div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Class))
    {
        <div class="charactersList-characterInfoField">
            <div class="charactersList-characterInfoFieldTitle">Класс:</div>
            <div class="charactersList-characterInfoFieldValue">@Model.Class</div>
        </div>
    }
    @if (Model.DisplayAlignment)
    {
        <div class="charactersList-characterInfoField">
            <div class="charactersList-characterInfoFieldTitle">Мировоззрение:</div>
            <div class="charactersList-characterInfoFieldValue">@Model.Alignment.GetDescription()</div>
        </div>
    }
</div>

@await Html.PartialAsync("~/Views/CharactersList/Character/CharacterActions/CharacterActions.cshtml", Model.CharacterActions)