@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Polls.PollsViewModel

@{
    ViewBag.Title = "Опросы";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}
@section LeftColumn
{
    @await Html.PartialAsync("Layout/LeftBar/GeneralLeftColumn")
}
<h1 class="content-pageTitle">Опросы</h1>
<div id="Paginator" class="paginator"></div>
<div class="paginator-fixed-wrapper">
    <div id="PaginatorHover" class="paginator-fixed"></div>
</div>
<div id="Container">
    @await Html.PartialAsync("Polls", Model)
</div>

@section FooterScript
{
    <script>
        var pollsControl = new DM.PagedListControl({
            totalPages: @Model.Paging.TotalPagesCount,
            currentPage: @Model.Paging.CurrentPage,
            pageSize: @Model.Paging.PageSize,
            entityNumber: @Model.Paging.EntityNumber,
            pageUrlTemplate:
                "@Url.Action("Index", "Forum", new RouteValueDictionary {{"entityNumber", "__pn__"}})"
        });
        DM.Ready();
    </script>
}