@using DM.Web.Classic.Extensions.IconFontExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Polls.PollViewModel
<div class="poll-wrapper js-poll" data-poll-id="@Model.Id" id="Poll_@(Model.Id)">
    <div class="poll-name">@Model.Title</div>
    @if (Model.IsClosed)
    {
        <div class="poll-closed date">Голосование окончено</div>
    }
    @foreach (var option in Model.Options)
    {
        var ratio = 100 * option.VotesCount / Model.MaxVotesCount;
        <div class="poll-option-wrapper">
            @if (Model.IsVoted)
            {
                <div class="poll-option-scale" style="width: @ratio%"></div>
            }
            <div class="poll-option-text">
                @if (option.Voted)
                {
                    @IconFont.Render(IconType.Tick)
                }
                @option.Text@(Html.Raw(Model.IsVoted ? $"&nbsp;&ndash;&nbsp;{option.VotesCount}" : string.Empty))
            </div>
            @if (!Model.IsVoted)
            {
                <a href="@Url.Action("Vote", "Polls", new RouteValueDictionary {{"pollId", Model.Id}, {"optionId", option.Id}})" class="poll-option-vote-link js-poll-vote-link"></a>
            }
        </div>
    }
</div>