@using DM.Web.Classic.Extensions.UserExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Home.Reviews.ReviewViewModel

<div class="review-container" id="ReviewContainer_@(Model.ReviewId)">
    <div class="review-wrapper" data-review-id="@Model.ReviewId">
        @Html.Raw(Model.Text)
    </div>
    @if (!Model.IsRandom)
    {
        <div class="review-actions">
            @if (Model.CanApprove)
            {
                @Html.ActionLink("Принять", "Approve", "Review", new RouteValueDictionary{{"reviewId", Model.ReviewId}}, new Dictionary<string, object>{{"id", string.Format("ApproveReviewLink_{0}", Model.ReviewId)}})
                @:|
            }
            @if (Model.CanRemove)
            {
                @Html.ActionLink("Удалить", "Remove", "Review", new RouteValueDictionary{{"reviewId", Model.ReviewId}}, new Dictionary<string, object>{{"id", string.Format("RemoveReviewLink_{0}", Model.ReviewId)}})
            }
        </div>
    }
    <div class="review-author">
        @Html.UserLink(Model.Author)
    </div>
</div>