@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@using DM.Web.Classic.Views.Profile
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Profile.ProfileViewModel
@{
    var type = (PersonalDataField) ViewData["Type"];
    var value = (string) ViewData["Value"];
    var undefined = (string) ViewData["Undefined"];
}
@if (Model.CanEdit)
{
    <div class="js-profile-personal-data-type" data-type="@type">
        <div class="profile-data-value-wrapper" id="DataFieldContainer_@(type)">
            <a href="javascript:void(0)" class="profile-edit-link" id="ShowFormLink_@(type)">@IconFont.Render(IconType.Edit)</a>
            <div class="profile-edit-data" id="DataFieldValue_@(type)">
                @(!string.IsNullOrEmpty(value) ? value : undefined ?? "не указано")
            </div>
        </div>
        @using (Html.BeginForm("EditPersonalData", "EditProfile",
            new RouteValueDictionary
            {
                {"field", type},
                {"login", Model.User.Login}
            },
            FormMethod.Post, true,
            new Dictionary<string, object>
            {
                {"class", "profile-edit-data-form"},
                {"id", $"EditDataFieldForm_{type}"}
            }))
        {
            @Html.TextBox("value", value, new Dictionary<string, object> {{"class", "profile-edit-data-input"}})
            @Html.SmallSubmit(new Dictionary<string, object> {{"class", "profile-edit-data-submit"}})
            <a href="javascript:void(0)" class="profile-edit-data-cancel" id="CancelFormLink_@(type)">@IconFont.Render(IconType.Close)</a>
        }
    </div>
}
else
{
    <div class="profile-field-value">
        @(!string.IsNullOrEmpty(value) ? value : "не указано")
    </div>
}