@using DM.Web.Classic.Extensions.IconFontExtensions
@using DM.Web.Classic.Extensions.UserExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Community.CommunityUser.CommunityUserViewModel

<div class="communityG-34 communityList-item">
    <div class="communityG-row">
        <div class="communityG-col-1 communityG-span-2"><div class="communityG-contentWrapper grid-number">@Model.Number</div></div>
        <div class="communityG-col-3 communityG-span-6">
            <div class="communityG-contentWrapper">
                @Html.UserLink(Model.User)
                @if (Model.CanLogIn)
                {
                    <a href="@Url.Action("LogInAs", "Account", new RouteValueDictionary{{"userId", Model.UserId}})">@IconFont.Render(IconType.User)</a>
                }
            </div></div>
        <div class="communityG-col-9 communityG-span-4"><div class="communityG-contentWrapper">@Html.RatingLink(Model.User)</div></div>
        <div class="communityG-col-13 communityG-span-3"><div class="communityG-contentWrapper">@Model.User.IsOnline.PresenceFormat()</div></div>
        <div class="communityG-col-16 communityG-span-9"><div class="communityG-contentWrapper">@Model.Name</div></div>
        <div class="communityG-col-25 communityG-span-10"><div class="communityG-contentWrapper">@Model.Location</div></div>
    </div>
</div>