@using DM.Services.Core.Extensions
@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.EditTopic.EditTopicForm
@{
    ViewBag.Title = "Редактирование темы";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}
@section LeftColumn
{
    @await Html.PartialAsync("Layout/LeftBar/ForumLeftColumn", Model.ForumId)
}
<h1 class="content-pageTitle">@ViewBag.Title</h1>
@using (Html.BeginForm("Edit", "EditTopic", FormMethod.Post))
{
    @Html.HiddenFor(m => m.TopicId)
    <div class="form-field-wrapper">
        @Html.LabelFor(m => m.Title, "Заголовок", new Dictionary<string, object> { { "class", "form-field-label" } })
        @Html.TextBoxFor(m => m.Title, new Dictionary<string, object> { { "class", "wide-input" } })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-field-wrapper">
        @Html.LabelFor(m => m.Text, "Описание", new Dictionary<string, object> { { "class", "form-field-sta-label" }, { "style", "width: 104px;" } })
        @await Html.SmartTextAreaFor(m => m.Text, Model.Parser, new Dictionary<string, object>
        {
            { "class", "bigSmartTextArea" },
            {"placeholder", "Введите текст сообщения и нажмите Ctrl+Enter, чтобы отправить"}
        })
    </div>

    @Html.Submit("Сохранить", new Dictionary<string, object> { { "class", "form-submit-button" } })
    @Html.ActionLink("Отменить", "Index", "Topic", new RouteValueDictionary { {"topicId", Model.TopicId.EncodeToReadable(Model.Title)}, {"entityNumber", null} }, null)
}

@section FooterScript
{
    <script>
        DM.Ready();
    </script>
}