@using DM.Services.Core.Extensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.GameActions.GameRooms.RoomLinkViewModel
<li class="leftMenu-list-item moduleRooms-roomItem">
    -
    @if (Model.HasNotification)
    {
        @await Html.PartialAsync("~/Views/Shared/GamesList/GameLink/GameNotification/GameNotification.cshtml", Model.Notification)
    }
    @if (Model.Disabled)
    {
        <strong>@Model.Title @Html.UnreadPostsIcon(Model.UnreadCount, true)</strong>
    }
    else
    {
        <a href="@Url.Action("LastUnread", "Post", new RouteValueDictionary {{"roomIdEncoded", Model.RoomId.EncodeToReadable(Model.Title)}})">
            @Model.Title
            @Html.UnreadPostsIcon(Model.UnreadCount, true)
        </a>
    }
</li>