@{
    Layout = "~/Views/Shared/Layout/_BaseLayout.cshtml";
}
<div class="content-leftColumn" id="LeftColumn">
    @RenderSection("LeftColumn")
</div>
<div class="content-mainColumn-wrapper">
    <div class="content-rightColumn">
        @RenderSection("RightColumn")
    </div>
    <div class="content-mainColumn">
        @RenderBody()
    </div>
</div>

@section Lightboxes
{
    @RenderSection("Lightboxes", false)
}
@section FooterScripts
{
    @RenderSection("FooterScript", false)
}