@using DM.Web.Classic.Extensions.IconFontExtensions
@model DM.Web.Classic.Views.Shared.Layout.TopMenuViewModel

@Html.ActionLink("О проекте", "About", "Home", null, new { @class = "topMenu-link" })
@Html.ActionLink("Сообщество", "Index", "Community", new { entityNumber = 1 }, new { @class = "topMenu-link" })
@Html.ActionLink("Правила", "Rules", "Home", null, new { @class = "topMenu-link" })
@Html.ActionLink("Чат", "Index", "Chat", null, new { @class = "topMenu-link" })
@if (Model.CanCreateGame)
{
    <a class="topMenu-link topMenu-link-create" href="@Url.Action("Create", "CreateGame")">
        @IconFont.Render(IconType.Add) Новая игра
    </a>
}
@Html.ActionLink("API", "Api", "Home", null, new { @class = "topMenu-link" })