@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Profile.EditProfileCredentials.EditPasswordForm
@{
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
    ViewBag.ID = "ChangePassword";
}
<h3 class="lightbox-title">Смена пароля</h3>

@using (Html.BeginForm("EditPassword", "EditProfile", FormMethod.Post, new Dictionary<string, object>
{
    {"id", "ChangePasswordForm"},
    {"autocomplete", "off"}
}))
{
    <div class="form-field-wrapper">
        @Html.PasswordFor(m => m.OldPassword, new {placeholder = "Старый пароль"})
        <div>@Html.ValidationMessageFor(m => m.OldPassword)</div>
    </div>
    <div class="form-field-wrapper">
        @Html.PasswordFor(m => m.NewPassword, new {autocomplete = "off", placeholder = "Новый пароль"})
        <div>@Html.ValidationMessageFor(m => m.NewPassword)</div>
    </div>
    <div class="form-field-wrapper">
        @Html.PasswordFor(m => m.NewPasswordConfirmation, new {autocomplete = "off", placeholder = "Пароль еще раз"})
        <div>@Html.ValidationMessageFor(m => m.NewPasswordConfirmation)</div>
    </div>
    <div class="form-controls-wrapper">
        @Html.Submit("Сменить пароль", new Dictionary<string, object> {{"class", "form-submit-button"}})
        <a href="javascript:void(0)" class="lightbox-close">Отменить</a>
    </div>
}