@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@model DM.Web.Classic.Views.Profile.EditProfileCredentials.EditEmailForm
@{
    Layout = "~/Views/Shared/Layout/_LightboxLayout.cshtml";
    ViewBag.ID = "ChangeCredentials";
}
<h3 class="lightbox-title">Смена e-mail</h3>

При смене адреса электронной почты ваша учетная запись будет деактивирована, а на новую почту будет отправлено письмо с инструкциями по повторной активации учетной записи.

@using (Html.BeginForm("EditEmail", "EditProfile", FormMethod.Post, new Dictionary<string, object>
{
    {"id", "ChangeEmailForm"},
    {"autocomplete", "off"}
}))
{
    <div class="form-field-wrapper">
        @Html.PasswordFor(m => m.Password, new {placeholder = "Пароль"})
        <div>@Html.ValidationMessageFor(m => m.Password)</div>
    </div>
    <div class="form-field-wrapper">
        @Html.TextBoxFor(m => m.NewEmail, new { autocomplete = "off", placeholder = "Новый e-mail" })
        <div>@Html.ValidationMessageFor(m => m.NewEmail)</div>
    </div>
    <div class="form-controls-wrapper">
        @Html.Submit("Сменить e-mail", new Dictionary<string, object>{{"class", "form-submit-button"}})
        <a href="javascript:void(0)" class="lightbox-close">Отменить</a>
    </div>
}