@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@using DM.Web.Classic.Extensions.UserExtensions
@using Microsoft.AspNetCore.Routing
@model DM.Web.Classic.Views.Fora.ForumViewModel
@{
    ViewBag.Title = $"{Model.Title} | Форум";
    Layout = "~/Views/Shared/Layout/_TwoColumnLayout.cshtml";
}
@section LeftColumn
{
    @await Html.PartialAsync("Layout/ForumLeftColumn", Model.ForumId)
}

<h1 class="content-pageTitle">@Model.Title | Форум</h1>
@if (Model.Moderators.Length > 0)
{
    <h3 class="content-mediumTitle">
        Модераторы:
        @for (var i = 0; i < Model.Moderators.Length; ++i)
        {
            @Html.UserLink(Model.Moderators[i])@(i == Model.Moderators.Length - 1 ? string.Empty : ", ")
        }
    </h3>
}
<div class="topicList-actions">
    @if (Model.CanCreateTopic)
    {
        @Html.Button("Открыть тему", new Dictionary<string, object> {{"class", "topicList-actions-createButton"}, {"id", "CreateTopicButton"}})
    }

    @if (Model.CanCreateTopic)
    {
        @await Html.PartialAsync("~/Views/Fora/CreateTopic/CreateTopic.cshtml", Model.CreateForm)
    }
</div>
<div id="Paginator" class="paginator"></div>
<div class="paginator-fixed-wrapper">
    <div id="PaginatorHover" class="paginator-fixed"></div>
</div>

<div class="topicG-34 topicList-header topicList-item">
    <div class="topicG-row">
        <div class="topicG-col-1 topicG-span-14">
            <div class="topicG-contentWrapper">Тема</div>
        </div>
        <div class="topicG-col-15 topicG-span-4">
            <div class="topicG-contentWrapper">Дата</div>
        </div>
        <div class="topicG-col-19 topicG-span-5">
            <div class="topicG-contentWrapper">Автор</div>
        </div>
        <div class="topicG-col-24 topicG-span-2">
            <div class="topicG-contentWrapper">@IconFont.Render(IconType.NoUnreadComment)</div>
        </div>
        <div class="topicG-col-26 topicG-span-9">
            <div class="topicG-contentWrapper">Последнее сообщение</div>
        </div>
    </div>
</div>
@if (Model.AttachedTopics.Length > 0)
{
    foreach (var topic in Model.AttachedTopics)
    {
        @await Html.PartialAsync("~/Views/Fora/Topic/Topic.cshtml", topic)
    }
}
<div id="Container">
    @await Html.PartialAsync("~/Views/Fora/ForumTopicsList.cshtml", Model.Topics)
</div>
@if (Model.AttachedTopics.Length + Model.Topics.Length == 0)
{
    <div id="NoCommentariesMessage" class="topicsList-no-topic">Еще не создано ни одной темы</div>
}

@section FooterScript
{
    <script>
        var forumControl = new DM.ForumControl({
            totalPages: @Model.TotalPagesCount,
            currentPage: @Model.CurrentPage,
            pageSize: @Model.PageSize,
            entityNumber: @Model.EntityNumber,
            pageUrlTemplate:
                "@Url.Action("Index", "Forum", new RouteValueDictionary {{"forumTitle", Model.Title}, {"entityNumber", "__pn__"}})"
        });
        DM.Ready();
    </script>
}