@model DM.Web.Classic.Views.GameRemove.GameRemoveViewModel
@using DM.Web.Classic.Extensions.HtmlHelperExtensions
@using DM.Web.Classic.Extensions.IconFontExtensions
@using DM.Web.Classic.Extensions.UserExtensions

@if (Model.CanRemove)
{
    using (Html.BeginForm("Remove", "GameRemove", FormMethod.Post))
    {
        <div>
            @IconFont.Render(IconType.Warning) Подтвердите удаление игры. Хотя её можно будет восстановить, для этого придется обращаться к Администрации, а этим лучше не злоупотреблять.
        </div>
        <br/>
        @Html.Hidden("moduleId", Model.GameId)
        @Html.Submit("Удалить игру")
    }
}
else
{
    @:Удалить игру может только её создатель &ndash; @Html.UserLink(Model.Master). Обратитесь к нему или к Администрации.
    @:Если вы и есть @Html.UserLink(Model.Master), обратите внимание, что удалению подлежат только игры, где написано меньше 10 сообщений (сообщения в чат-комнатах не считаются).
}